*{
    padding: 0;
    margin: 0;
}
.backimg {
height: 100vh;
background-image: url("./img/back7.jpg");
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: darkturquoise;
}
.profile{
    width: auto;
    background-color: darkturquoise;
    padding: 5%;
    border-radius: 10px;
}